# Python Tutorial for Begineers 

### Purpose: 

#### This tutorial is designed to provide a comprehensive and efficient review of the fundamental concepts in Python. Whether you're revisiting the basics or learning them for the first time, you'll find it easy to grasp key concepts within a reasonable timeframe

### Basics of Python

In [2]:
print("Hello World")
print("Welcome to my Repo")

Hello World
Welcome to my Repo

In [7]:
# Single Line and multiline comments

'''
Welcome to my Repository 
These triple quotes are used whenever you want to write multiline comments 

'''
print("Hey")

Hey

In [9]:
# Variable Declaration
a=50
type(a)

int

In [12]:
x=40
y=23
z="Anurag"
type(z)

str

In [16]:
# To assign variable: Always start the variable name with either A LETTER or an underscore character. 
# Numbers cannot be used in the start whereas Alphanumeric characters can be used. 

v1=43
first_name= "ANURAG" 
last_name34= "GUPTA"
print(first_name)
print(last_name34)

ANURAG
GUPTA

In [18]:
# Integer operations 
a=100
b=a+100
c=a*100
d=a/100
e=a%100
print(a,b,c,d,e)
print(a+b, a*c, d*10, e*e)

100 200 10000 1.0 0
300 1000000 10.0 0

In [20]:
# Floating 
a=1190.35
print(type(a))

<class 'float'>

In [25]:
# Typecasting: Forceful conversion of one data type into another 
print(int(a))

b= 190
float(b)

1190

190.0

In [29]:
## Boolean

a=True
b=False
type(a)

bool

In [34]:
print(a & b)
print(a or b)
print(a | b)
print(a and b)

False
True
True
False

In [38]:
## Strings operation

Name= "ANURAG"
print(Name)
print(type(Name))

ANURAG
<class 'str'>

In [42]:
print(Name + "1")

ANURAG1

In [45]:
### This operation wont be possible because we are trying to concatenate 2 different data types: String and Int

print(Name + 1)

TypeError: can only concatenate str (not "int") to str

In [48]:
### To rectify it either use quotes or forcefully convert it to Str and then concatenate: Strongtyping

print(Name + "1")
print(Name + str(10))

ANURAG1
ANURAG10